.page{
	&-bio{
		background-image:url('./../images/bio_bg.jpg');
		h1{
			color: black;
		}
		h2{
			color: black;
			width: 60%;
			margin: 0 auto;
			display: block;
			margin-bottom: 60px;
		}
		a{
			font-size: 24px;
			color: $red;
			font-weight: 300;
			&.linkedin{
				color: $linkedin;
			}
			&.btn.linkedin{
				display: block;
				border-radius: 50px;
				width: 80px;
				height: 80px; 
				padding: 40px;
				margin: 0 auto;
				background-color: $linkedin;
				color: white;
				background-image: url('./../images/linkedin.png');
				background-size:50%;
				background-position: center center;
				background-repeat: no-repeat;
				&:hover{
					background-color: lighten($linkedin, 10%);
				}
			}
		}
	}
}

