#page-intro{
	background-image:url('./../images/intro_bg.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100%;
	width: 100%;
	position :absolute;
	text-align:center;
	h1{
		margin-top: 15%;
		font-size: 36px;
		font-weight: 300;
	}
	h2{
		font-size: 24px;
		font-weight: 300;
	}
	a.btn{
		text-transform: uppercase;
		color: black;
		margin-top: 20px;
		padding: 15px 30px;
		background: white;
		border-radius: 45px;
		font-size: 16px;
		font-weight: 400;
		&:hover{
			opacity: 0.75;
		}

	}
}

@media screen and (max-height: 650px) , (max-width: $screen-phone){
	#page-intro{
		h1{
			font-size: 24px;
			margin-top: 60px;
		}
		h2{
			margin: 0 auto;
			width:80%;
			font-size: 16px;
		}
		a.btn{
			font-size: 16px;
		}
	}
}