nav{
	position: relative;
	z-index: 1000;
    width: 100%;
	&.navbar{
		border-radius:0px !important;
		border: 0px solid white;
	}
}
.navbar{
	&-default{
		background-color: rgba(255,255,255,0.85) !important;
		.navbar-toggle{
			border: 0px solid white;
			padding : 0px;
			margin-right:15px;
			&:hover,
			&:focus{
				background-color: transparent !important;
				span.icon-bar{
					background-color: $red;
				}
			}
		}
	}
	&-collapse{
		margin-left: 0px;
		margin-right: 0px;
		background: transparent;
		border-top: 0px solid white;
		.navbar-nav{
			margin-top: 0px;
			margin-right: -10px;
			float :right;
			& > li{
				background: transparent;
				display: inline-block;
				a{
					padding: 0px 15px 0px 15px;
					font-size: 12px;
					text-transform: uppercase;
					padding: 15px;
					display: block;
					width: 100%;
					height: 100%;
					span{
						padding-top: 4px;
						padding-bottom:4px;
						display: block;
					}
				}
				a.active{
					background-color: transparent !important;
					span{
						border-bottom:3px solid $red;
						
					}
				}
			}
		}
	}
	&-header{
		margin-left: 0px;
		margin-right: 0px;
		.navbar-brand{
			&:hover{
				opacity: 0.75;
			}
			padding:0px;
			img {
				max-height: 100%;
			}
			margin-left:0px !important;
		}
	}
}
	

@media screen and (max-width: $screen-tablet){
	.navbar{
		.container-fluid{
			padding: 0px;
		}
		&-brand{
			margin:10px 10px 10px 10px !important;
			height: 32px;
			width: 32px;
		}
		&-header{
			margin-left: 10px !important;
			margin-right: 0px !important;
		}
		&-collapse{
			margin-right: 0px !important;
		}
	}
}





