
#page-portfolio{
	background: transparent;
	margin-top: 100px;
	.project{
		&-box{
			&.x-1{
				width: 12.5%;
			}
			&.x-2{
				width: 20%;
			}
			&.x-3{
				width: 27.5%;
			}
			&.y-1{
				height: 12.5%;
			}
			&.y-2{
				height: 20%;
			}
			&.y-3{
				height: 27.5%;
			}
			padding:15px;
			.image_thumb{
				width:100%;
				height: auto;
				img{
					width:100%;
					height: auto;
				}
			}
		}
	}
}