.page{
	&-projects{
		.isotope-container{
			position: absolute;
		}
		h1{
			font-size: 24px;
			text-transform: uppercase;
			width: 100%;
		}
		h2{
			font-size: 18px;
			font-weight: 300;
		}
		span{
			&.info{
				font-size: 13px;
				font-weight: 300;
			}
		}
		background: transparent;
		.filters{
			margin-left: 15px;
			margin-top: 20px;
			margin-bottom: 20px;
			.filter{
				display: inline-block;
				color : black;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: 300;
				margin-right: 40px;
				cursor: pointer;
				padding-right: 20px;
				border-bottom: 3px solid white;
				&:hover,
				&.active{
					color: $red;
					text-decoration: none;
					border-bottom: 3px solid $red;
				}
			}
		}
		.project{
			&-box{
				a{
					color : black;
					&:hover{
						color: black;
						text-decoration: none;
					}
				}
				p{
					line-height: 14px;
					font-size: 12px;
				}
				cursor: pointer;
				@extend .imageLoading;
				&:hover{
					background-color: rgba(0,0,0,0.05);
				}
				&.loaded{
					opacity: 1;
				}
				.loader{
					width: 0px;
					height: 1px;
					background-color: $red;
					margin-bottom: 10px;
					opacity : 0.25;
				}
				&.x-0,&.x-1,&.x-2,&.x-3,&.x-4,&.x-5{
					width:450px;
				}
				padding:15px;
				.image_thumb{
					background-position: center;
					background-size: cover;
					width:100%;
					$width-list: 150px 200px 250px 300px 350px 400px;
					@each $current-width in $width-list {
					    $i: index($width-list, $current-width);
					    &.y-#{$i} { 
					        height: $current-width;
					    }
					}
				}
				.info{
					height: 85px;
					overflow: hidden;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-tablet){
	.page{
		&-projects{
			.project-box{
				&.x-1,
				&.x-2{
					width: 50% !important;
				}
				&.x-3,&.x-4,&.x-5{
					width: 100% !important;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-phone){
	.page{
		&-projects{
			.project-box{
				&.x-0,&.x-1,&.x-2,&.x-3,&.x-4,&.x-5{
					width: 100% !important;
				}
			}
		}
	}
}
