#page-project{
	/*.isotope-container{
		opacity: 0.01;
		@include transition(all 1s ease);
		&.show{
			opacity : 1;
		}
	}*/
	.project-info{
		h2.perex{
			font-size: 16px;
			font-weight: 300;
			font-style: italic;
		}
		h3.desc{
			font-size: 14px;
			font-weight: 500;
		}
		.info-block{
			h2{
				margin-bottom: 0px;
				font-size: 14px;
				font-weight: 700;
			}
			.info-text{
				font-size: 14px;
				font-weight: 300;
			}
		}
		.navigation-projects{
			margin-top: 60px;
			a{
				width: auto;
				cursor: pointer;
				display: block;
				padding: 10px 25px;
				background-color: black;
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				&:hover{
					color: white;
					background-color: gray;
				}
			}
		}
	}
	.image_thumb{
		min-height: 80px;
		min-width: 80px;
		max-width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		&.x-0{
			width: 100px;
		}
		&.x-1{
			width: 200px;
		}
		&.x-2{
			width: 300px;
		}
		&.x-3{
			width: 400px;
		}
		&.x-4{
			width: 500px;
		}
		&.x-5{
			width: 600px;
		}
		padding: 20px;
		height: auto;
		display: block;
		float:left;
		@extend .imageLoading;
		cursor:pointer;
		@include transition(all 0.25s ease);
		img{
			opacity: 0;
			width: 100%;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&.loaded{
				opacity: 1;
			}
		}
		&:hover{
			background-color: rgba(0,0,0,0.05);
		}
	}
}

@media screen and (max-width: $screen-desktop){
	#page-project{
		.image_thumb{
			width: 50% !important;
		}
	}
}

@media screen and (max-width: $screen-tablet){
	#page-project{
		.image_thumb{
			padding:20px 0 20px 0 !important;
			width: 100% !important;
		}
	}
}