#page-image{
	h1{
		display: block;
		text-align: center;
		width: auto;
		margin: 10px auto 20px auto;
	}
	.image_loader{
		min-height: 100px;
		min-width: 100px;
		@extend .imageLoading;
		max-width: 100%;
		display: block;
		margin:0 auto;
		text-align: center;
		position: relative;
	}
	.main_image{
		display: inline-block;
		opacity: 0;
		max-width: 100%;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		&.loaded{
			opacity: 1;
		}
	}
	a{
		&.stateChange{
			position: absolute;
			top: 50px;
			padding: 10px 20px;
			cursor: pointer;
			background-color: black;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			&.prev{
				left: 0;
			}
			&.next{
				right: 0;
			}
			&:hover{
				background-color: gray;
			}
		}
	}
}