<div id="page-admin" class="page" ng-controller="adminController">
	<div class="container">
		<div class="row">
			<div class="form-group">
				<div class="col-xs-12" ng-show="user.authenticated">
					Logged in as:
					<span class="label label-success" ng-bind="user.loginData.email"></span>
					<span class="label label-default" ng-bind="user.uid"></span>
					<span class="label label-success" ng-show="user.writeEnabled">Write Mode Enabled</span>
					<span class="label label-danger" ng-show="!user.writeEnabled">Write Mode Disabled</span>
					<a href="javascript:void(0)" ng-click="logoutofFireBase()" class="btn-default btn">logout</a>
				</div>
				<div class="col-xs-12" ng-show="!user.authenticated">
					<input type="text" class="form-control" placeholder="e-mail" ng-model="user.loginData.email"/>
					<input type="password" class="form-control" placeholder="password" ng-model="user.loginData.password"/>
					<a href="javascript:void(0)" ng-click="logintoFireBase()" class="btn-default btn">login</a>
					<span class="label label-danger" ng-show="user.loginFailed">Login Failed</span>
					<span class="label label-danger" ng-show="user.logoutFailed">Logout Failed</span>
				</div>
			</div>
		</div>
		<hr/>
		<div class="row" ng-show="user.authenticated && user.writeEnabled">
			<div class="col-md-6">
				<div class="row filters">
					<span class="pull-left"> Filter categories:</span>
					<div class="btn-group pull-right">
						<a ng-repeat="(category, value) in projectCategories" class='filter btn btn-default' ng-class="{'active': value}" ng-click="toggleCategory(category)" ng-animate>{{category}}</a>
					</div>
				</div>
				<div class="row filters">
					<span class="pull-left">Order by:</span>
					<div class="btn-group pull-right">
						<a ng-repeat="filter in filterTypes" class='filter btn btn-default' ng-click="setFilter(filter)" ng-class="{'active': orderfilter == filter}" ng-animate>{{filter}}</a>
					</div>
				</div>
				<ul class="projects-list">
					<li
						ng-repeat="project in allProjects | categoriesFilter:projectCategories | toArray | orderBy: orderfilter" 
			            ng-class="" 
						ng-attr-id="{{ 'project-' + project.$id }}"
						alt="{{project.name}}">
						<div class="btn-group">
							<span ng-bind="project.priority" class="btn btn-default btn-priority"></span>
							<a href="javascript:void(0)" class="btn btn-default" ng-class="{'active': project.admineditstart}" ng-click="toggleAdminEditStart(project)">
								<i class="glyphicon glyphicon-chevron-down"></i>
							</a>
							<a href="javascript:void(0)" class="btn btn-default" ng-class="{'active': project.admineditend}" ng-click="toggleAdminEditEnd(project)">
								<i class="glyphicon glyphicon-chevron-up"></i>
							</a>
							<a href="javascript:void(0)" class="btn btn-default btn-toggable" ng-class="{'active': project.active}" ng-click="toggleActiveProject(project)">
								<i class="glyphicon glyphicon-ok"></i>
							</a>
							<a href="javascript:void(0)" class="btn btn-danger btn-default" ng-click="deactivateProject(project)">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
							<a href="javascript:void(0)" ng-bind="project.name" ng-click="setActiveProject(project)" class="btn-default btn"></a>
						</div>
					</li>
				</ul>
				<hr/>
				<div class="row">
					<div class="col-xs-12">
					    <div class="input-group">
					      	<input type="number" class="form-control" placeholder="{{adminModeProjectMove.value}}" ng-model="adminModeProjectMove.value"/>
					      	<div class="input-group-btn">
					        	<button type="button" class="btn btn-default" ng-class="{'disabled': !anyProjectActive()}" ng-click="movePriority()">move priority</button>
					        	<button type="button" class="btn btn-primary" ng-click="saveProjects()"><i class="glyphicon glyphicon-fire"></i> fire the DB!</button>
					        	<button type="button" class="btn btn-danger" ng-click="deactivateProjects()"><i class="glyphicon glyphicon-remove"></i> remove all selection</button>
							</a>
					      	</div>
					    </div>
					</div>
				</div>
			</div>
			
			<div class="col-md-6" ng-if="activeproject != undefined">
				<div class="row">
					<div class="col-xs-12">
					    <div class="input-group pull-right">
					      	<div class="btn-group">
					        	<button type="button" class="btn btn-default" ng-click="reloadProjects()"><i class="glyphicon glyphicon-refresh"></i> reload </button>
					      		<button type="button" class="btn btn-primary" ng-click="saveProjects()"><i class="glyphicon glyphicon-fire"></i> fire the DB!</button>
					      	</div>
					    </div>
					</div>
				</div>
				<hr/>
				<div class="panel panel-default">
					<div class="panel-heading">Descriptions</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-3">
									<label class="pull-right">name</label>
								</div>
								<div class="col-xs-9">
									<input type="text" class="form-control" placeholder="name" ng-model="activeproject.name"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-3">
									<label class="pull-right">perex</label>
								</div>
								<div class="col-xs-9">
									<textarea class="form-control" placeholder="perex" ng-model="activeproject.perex"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-3">
									<label class="pull-right">priority</label>
								</div>
								<div class="col-xs-3">
									<input type="number" class="form-control" placeholder="priority" ng-model="activeproject.priority"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-3">
									<label class="pull-right">technology</label>
								</div>
								<div class="col-xs-9">
									<textarea type="text" class="form-control" placeholder="technology" ng-model="activeproject.technology"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-3">
									<label class="pull-right">description</label>
								</div>
								<div class="col-xs-9">
									<textarea class="form-control" placeholder="description" ng-model="activeproject.description"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-3">
									<label class="pull-right">contribution</label>
								</div>
								<div class="col-xs-9">
									<textarea class="form-control" placeholder="contribution" ng-model="activeproject.contribution"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-3">
									<label class="pull-right">Categories:</label>
								</div>
								<div class="col-xs-9">
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="activeproject.categories['design']" ng-true-value="1" ng-false-value="0">design
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="activeproject.categories['front-end']" ng-true-value="1" ng-false-value="0">front-end
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="activeproject.categories['back-end']" ng-true-value="1" ng-false-value="0">back-end
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="activeproject.categories['3d']" ng-true-value="1" ng-false-value="0">3d
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Images</div>	
					<div class="panel-body">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-3">
									<label class="pull-right">count</label>
								</div>
								<div class="col-xs-3">
									<input type="number" class="form-control" placeholder="images" ng-model="activeproject.images"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-3">
									<label class="pull-right">image_prefix</label>
								</div>
								<div class="col-xs-9">
									<input type="text" class="form-control" placeholder="image_prefix" ng-model="activeproject.image_prefix"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div ng-repeat="(key,value) in getActiveProjectsImageWidths() track by key">
								<div class="row form-group">
									<div class="col-xs-3">
										<label class="pull-right"> id </label>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control" placeholder="{{key}}" ng-model="key"/>
									</div>
									<div class="col-xs-1">
										<label class="pull-right"> width </label>
									</div>
									<div class="col-xs-2">
										<input type="number" 
												class="form-control" 
												ng-model="activeproject.pictures_width[$index]" 
												min="0" max="5" ng-init="0">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">Thumbs</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-2">
									<label class="pull-right">count</label>
								</div>
								<div class="col-xs-2">
									<input type="number" class="form-control" placeholder="thumbs" ng-model="activeproject.thumbs"/>
								</div>
								<div class="col-xs-2">
									<label class="pull-right">Width</label>
								</div>
								<div class="col-xs-2">
									<input type="number" min="0" max="5" class="form-control" placeholder="height" ng-init="0" ng-model="activeproject.width">
								</div>
								<div class="col-xs-2">
									<label class="pull-right">Height</label>
								</div>
								<div class="col-xs-2">
									<input type="number" min="0" max="5" class="form-control" placeholder="height" ng-init="0" ng-model="activeproject.height">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 