<div id="page-bio" class="page" ng-controller="bioController">
	<h1>Hi, I'm Lukas Kalcok.</h1>
	<h2>I’m a front-end developer and a graphic designer. I create web pages which reflect the brand values and mindset. My main goal is to deliver high quality product that can be seen anywhere and on any device. I love to work on projects in which technology and design goes hand in hand. </h2>
	<a href="mailto:lukas.kalcok@gmail.com">lukas.kalcok@gmail.com</a>
	<p>For a full bio please follow link to <a href="https://cz.linkedin.com/in/lukaskalcok" class="linkedin">LinkedIn</a>.</p>
	<a href="https://cz.linkedin.com/in/lukaskalcok" class="btn linkedin"></a>
</div> 