<nav class="navbar navbar-default" data-spy="affix">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="intro">
        <img class="logo" src="./images/logo.png"/>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="intro" ui-sref-active="active"><span>intro</span></a>
        </li>
        <li>
          <a ui-sref="portfolio" ui-sref-active="active"><span>portfolio</span></a>
        </li>
        <li>
          <a ui-sref="bio" ui-sref-active="active"><span>bio</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
