<div id="page-portfolio" ng-controller="portfolioController" isotope-container="isotope-container">
	<div ng-repeat="project in projects" class="project-box" ng-class="projectXY(project)" isotope-item="isotope-item">
		<div class="image_thumb">
			<img ng-src="{{projectThumb(project)}}"/>
		</div>
		<span ng-bind="project.name"></span><br/>
		<span ng-bind="project.contribution"></span><br/>
		<span ng-bind="project.developedfor"></span><br/>
		<span ng-bind="project.hreflink"></span><br/>
		<span ng-bind="project.technology"></span><br/>
		<span ng-bind="project.name"></span><br/>
	</div>
</div>