<div id="page-portfolio" ng-controller="portfolioController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h1> Projects </h1>
			</div>
		</div>

		<div class="row filters">
			<div class="btn-group" opt-kind ok-key="filter">
				<a ng-repeat="category in projectCategories" class='filter' ok-sel=".{{category}}">{{category}}</a>
			</div>
		</div>
		<div isotope-container class="isotope-container">
				<div isotope-item
					 ng-repeat="project in projects" 
					 class="project-box kindling"  
					 ng-class="projectClass(project)" 
					 isotope-item="isotope-item" 
					 ng-click="showProject(project.id)" 
					 ng-attr-id="{{ 'project-' + project.id }}">

					<div class="image_thumb" ng-class="projectY(project)" ng-style="{'background-image':'url({{projectThumb(project)}})'}">
					</div>
					<h2 ng-bind="project.name"></h2>
					<div class="loader"></div>
					<span ng-bind="project.contribution" class="info"></span><br/>
				</div>
		</div>
	</div>
</div>