<div class="page page-projects" ng-controller="projectsController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h1> Projects </h1>
			</div>
		</div>

		<div class="row filters">
			<div class="btn-group" opt-kind ok-key="filter">
				<a ng-repeat="category in projectCategories" class='filter animate-repeat' ok-sel=".{{category}}" ng-animate>{{category}}</a>
			</div>
		</div>
		<div isotope-container class="isotope-container">
			<div isotope-item	
				 ng-repeat="project in projects" 
				 class="project-box kindling"  
				 ng-class="projectClass(project)" 
				 isotope-item="isotope-item" 
				 ng-attr-id="{{ 'project-' + project.$id }}"
				 alt="{{project.name}}">
				 <a ui-sref="project({projectID:project.$id})">
					<div class="image_thumb" ng-class="projectY(project)" ng-style="{'background-image':'url({{projectThumb(project)}})'}">
					</div>
					<div class="priority" ng-bind="project.priority" style="display:none;"></div>
					<div class="info">
						<h2 ng-bind="project.name"></h2>
						<div my-projectloader></div>
						<span ng-bind="project.contribution" class="info"></span><br/>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>