<div id="page-image" class="page" ng-controller="projectImageController">
	<div class="container-fluid" ng-swipe-left="goToImage('prev')" ng-swipe-right="goToImage('next')">
		<div class="row navigation">
			<div class="col-md-12">
				<a ui-sref="project({ projectID: project.$id })" class="back"><span class="glyphicon glyphicon-chevron-left"></span> back to project</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1 ng-bind="project.name"></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="image_loader">
					<div class="navig clearfix">
						<a ng-if="project.images > 1" ng-click="goToImage('prev')" class="prev btn-animated pull-left">
							<span class="glyphicon glyphicon-chevron-left"></span> 
							prev
						</a>
						<a ng-if="project.images > 1" ng-click="goToImage('next')" class="next btn-animated pull-right">
							next 
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>

					<img class="main_image" ng-if="project.images > 0" ng-src="{{getImage(index)}}" imageonload alt="{{project.name}} | {{ imageId }} "/>
				</div>
			</div>
		</div>
	</div>
</div> 