<div class="page page-project" ng-controller="projectController">
	<div class="container-fluid" ng-swipe-left="goToProject('next')" ng-swipe-right="goToProject('next')">
		<nav class="row navigation">
			<div class="col-md-12">
				<a ui-sref="projects" class="back">
					<span class="glyphicon glyphicon-chevron-left"></span>
					back to projects
				</a>
			</div>
		</nav>
		<article class="row project-info">
			<div class="col-md-3 col-sm-12 clearfix">
				<header>
					<h1 ng-bind="project.name"></h1>
					<div ng-if="project.perex">
						<h2 ng-bind="project.perex" class="perex"></h2>
					</div>
					<div ng-if="project.description">
						<h3 ng-bind="project.description" class="desc"></h3>
					</div>
				</header>
				<nav ng-if="project.hreflink">
					<a href="{{project.hreflink}}" target="_blank" ng-bind="project.hreflink"></a>
				</nav>
				<br/>

				<section ng-if="project.contribution" class="info-block">
					<header>
						<h4>Contribution</h4>
					</header>
					<p>
						<span ng-bind="project.contribution"></span>
					</p>
				</section>
				<section ng-if="project.developedfor" class="info-block">
					<header>
						<h4>Developed for</h4>
					</header>
					<p>
						<span ng-bind="project.developedfor"></span>
					</p>
				</section>
				<section ng-if="project.technology" class="info-block">
					<header>
						<h4>Used technology</h4>
					</header>
					<p>
						<span ng-bind="project.technology"></span>
					</p>
				</section>
				<section ng-if="project.developer.name && project.developer.link" class="info-block">
					<header>
						<h4>Developed for</h4>
					</header>
					<p>
						<span><a href="{{project.developer.link}}" target="_blank" ng-bind="project.developer.name"></a></span>
					</p>
				</section>
				<nav>
					<div class="navigation-projects">
						<a ui-sref="project({projectID:prevProjectID})" class="pull-left prev btn btn-animated" ng-click="goToProject('prev')">
							<span class="glyphicon glyphicon-chevron-left"></span> 
							prev
						</a>
						<a ui-sref="project({projectID:nextProjectID})" class="pull-right next btn btn-animated" ng-click="goToProject('next')">
							next
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</nav>
			</div>
			<div class="col-md-9 clearfix col-sm-12" >
				<div isotope-container class="isotope-container" iso-options="{layoutMode:'packery'}">
					<div ng-repeat="i in projectImagesCount()" isotope-item class="image_thumb" ng-class="getPictureClass($index)" >
						<img  
						 alt="{{project.name}} | {{$index}}"
						 ng-src="{{projectImage($index)}}"
						 ng-attr-id="{{ 'image-' + $index }}"
						 ng-click="showPictureDetail($index)" 
						 imageonload/>
					</div>
				</div>
			</div>
		</article>
	</div>
</div> 