<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule !\.(txt|xml|pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.html [L]
</IfModule>